.paginator ul {
    display: flex;
    gap: 16px;
    justify-content: center;
    background-color: cadetblue;
    padding: 8px;
}

.paginator ul li {
    border: 1px solid white;
    padding: 8px;
    border-radius: 4px;
}

.paginator ul li.selected {
    border: 2px solid white;
}

.paginator ul li {
    border: 2px solid white;
}