.grid {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
    margin-bottom: 32pxs;
}

@media all and (min-width: 7500px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 350px);
    }
}

@media all and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 350px);
    }
}

@media all and (min-width: 1400px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 350px);
    }
}